@import "settings";
@import "foundation";

.story-title {
	border: {
		top: 2px solid black;
		bottom: 2px solid black;
	}
	font-size: 6em;
	text-align: center;
	display: block;
}

.drop-menu {
	display: none;
}

.story-desc {
	border-bottom: 2px solid black;
	display: block;
	text-align: center;
}

.green {
	background-color: lightgreen;
}

.red {
	background-color: pink;
}

.title-box {
	height: 100px;
}